#!/bin/sh
export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
export XIM='uim'
uim-xim &
export XMODIFIERS='@im=$IM'

export TERM=rxvt
export EDITOR=nvim
xmodmap ~/.Xmodmap &

if [ -d "$HOME/bin" ] ; then
    PATH="$PATH:$HOME/bin"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$PATH:$HOME/.local/bin"
fi

# set PATH so it includes go lang if it exists
if [ -d "/usr/local/go" ] ; then
	export GOPATH="$HOME/go"
    PATH="$PATH:/usr/local/go/bin:$HOME/go/bin"
fi

export PATH

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
