snippet link "Link to something"
[${1:${VISUAL:Text}}](${2:http://${3:www.url.com}})$0
endsnippet

snippet frontmatter
---
title: "${1:`!v expand('%:t:r')`}"
summary: "${2}"
layout: wiki
parent: 
tags: [${3}]
toc: true
latex: false
date: `date +%FT%T%z`
lastmod: `date +%FT%T%z`
---
endsnippet

